.first-box-container {
    width: 200px;
    height: 100px;
    background-color: red;
    border-style: solid;
    border-color: green;
    border-width: 12px;
  }
  
  .second-box-container {
    width: 200px;
    height: 100px;
    background-color: yellow;
    position: relative;
    bottom: 124px; left: 230px;
    border-style: solid;
    border-color: red;
    border-width: 12px;
  }
  
  .third-box-container {
    width: 200px;
    height: 100px;
    background-color: green;
    position: relative;
    bottom: 248px; left: 460px;
    border-style: solid;
    border-color: yellow;
    border-width: 12px;
  }

  p {
    color: blue;
    text-transform: uppercase;
    text-align: center;
  }