.first-box-container {
    width: 200px;
    height: 100px;
    background-color: red;
    border-color: green;
    border-width: 2px;
    text-transform: capitalize;
    text-align: center;
  }
  
  .second-box-container {
    width: 200px;
    height: 100px;
    background-color: yellow;
    position: relative;
    bottom: 116px; left: 210px;
    border-color: red;
    border-width: 2px;
    text-transform: capitalize;
    text-align: center;
  }
  
  .third-box-container {
    width: 200px;
    height: 100px;
    background-color: green;
    position: relative;
    bottom: 232px; left: 420px;
    border-color: yellow;
    border-width: 2px;
    text-transform: capitalize;
    text-align: center;
  }

  p {
    color: blue;
  }