.first-box-container {
    width: 200px;
    height: 100px;
    background-color: red;
  }
  
  .second-box-container {
    width: 200px;
    height: 100px;
    background-color: yellow;
    position: relative;
    bottom: 116px; left: 200px;
  }
  
  .third-box-container {
    width: 200px;
    height: 100px;
    background-color: green;
  }